# PlantApp/main.py: 4
Authlib == 0.15.3

# PlantApp/main.py: 1
Flask == 2.0.0

# PlantApp/main.py: 2
Flask_SQLAlchemy == 2.5.1

# PlantApp/main.py: 5
Werkzeug == 2.0.0

# PlantApp/main.py: 7
python_dotenv == 0.17.1
