{% extends 'base.html' %}

{% block head %}
<title> Create a New Post </title>
{% endblock %}

{% block body %}   
  <h1> Create a new post </h1>
    <hr>
    <h2> Create new post</h2>
    <form action='/newpost' method='POST'>
        Title: <input type='text' name='title' id='title'>
        <br>
        Plant Name: <input type='text' name='plantName' id='plantName'>
        <br>
        Location: <input type='text' name='location' id='location'>
        <br>
        Post: <input type='text' name='description' id='description'>
        <br>
        Image Link: <input type='text' name='imageLink' id='imageLink'>
        <br>
        <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="image" id="image">
              <label class="custom-file-label" for="image">Select image...</label>
            </div>
          </div>
          <br>
        <input type='submit' value='Post'>
    </form>
    <hr>
    <h1>Upload an image</h1>
    <hr>
{% endblock %}